*
!.gitignore
!autoexec.cfg
!practicecfg.cfg
!1v1.cfg

!buybinds.cfg

!celownik_flusha.cfg
!celownik_kamil.cfg
!celownik_niko.cfg
!celownik1.cfg
!celownik2.cfg

!viewmodel_artur.cfg
!viewmodel_kamil.cfg